Repository lancedb/lance-namespace, pull requests merged in 2025-07, with the labels that each got.

#118 feat: add spec for Iceberg namespace
  README.md
  docs/mkdocs.yml
  docs/src/index.md
  docs/src/spec/impls/iceberg.md
Labels: enhancement, spec

#135 feat: add hms list namespaces
  LICENSE
  java/checkstyle.xml
  java/lance-namespace-core/pom.xml
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/Configurable.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/LanceNamespace.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/NamespaceProperties.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/ObjectIdentifier.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/util/DynConstructors.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/util/DynMethods.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/util/PageUtil.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/util/ValidationUtil.java
  java/lance-namespace-core/src/test/java/com/lancedb/lance/namespace/TestObjectIdentifier.java
  java/lance-namespace-hive/pom.xml
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/ClientPool.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/ClientPoolImpl.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/HiveNamespaceProperties.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/HiveVersion.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/hive/HiveClientPool.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/hive/LanceHiveNamespace.java
  java/lance-namespace-hive/src/main/java/com/lancedb/lance/namespace/hive/RuntimeMetaException.java
  java/lance-namespace-hive/src/test/java/com/lancedb/lance/namespace/TestHiveMetastore.java
  java/lance-namespace-hive/src/test/java/com/lancedb/lance/namespace/TestHiveNamespace.java
  java/lance-namespace-hive/src/test/resources/hive-site.xml
  java/pom.xml
Labels: enhancement, java

#137 fix: add missing 404 responses to spec
  docs/src/spec/rest.yaml
  java/lance-namespace-apache-client/api/openapi.yaml
  java/lance-namespace-apache-client/docs/NamespaceApi.md
  java/lance-namespace-apache-client/docs/TableApi.md
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/api/NamespaceApi.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/api/TableApi.java
  python/lance_namespace_urllib3_client/docs/NamespaceApi.md
  python/lance_namespace_urllib3_client/docs/TableApi.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api/namespace_api.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api/table_api.py
  rust/lance-namespace-reqwest-client/src/apis/namespace_api.rs
  rust/lance-namespace-reqwest-client/src/apis/table_api.rs
Labels: bug, python, java, spec, rust

#145 feat: bump version to 0.0.2
  docs/src/user-guide/java-sdk.md
  java/Makefile
  java/lance-namespace-adapter/pom.xml
  java/lance-namespace-apache-client/README.md
  java/lance-namespace-apache-client/pom.xml
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/ApiClient.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/Configuration.java
  java/lance-namespace-core/pom.xml
  java/lance-namespace-glue/pom.xml
  java/lance-namespace-hive/pom.xml
  java/lance-namespace-springboot-server/pom.xml
  java/pom.xml
  python/Makefile
  python/lance_namespace_urllib3_client/README.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api_client.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/configuration.py
  python/lance_namespace_urllib3_client/pyproject.toml
  rust/Cargo.lock
  rust/Makefile
  rust/lance-namespace-reqwest-client/Cargo.toml
  rust/lance-namespace-reqwest-client/README.md
Labels: enhancement, python, java, rust

#148 feat: add storage options to responses
  docs/src/spec/rest.yaml
  java/lance-namespace-apache-client/api/openapi.yaml
  java/lance-namespace-apache-client/docs/CreateTableResponse.md
  java/lance-namespace-apache-client/docs/DescribeTableResponse.md
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/model/CreateTableResponse.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/model/DescribeTableResponse.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/api/TableApi.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/CreateTableResponse.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/DescribeTableResponse.java
  python/lance_namespace_urllib3_client/docs/CreateTableResponse.md
  python/lance_namespace_urllib3_client/docs/DescribeTableResponse.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/create_table_response.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/describe_table_response.py
  python/lance_namespace_urllib3_client/poetry.lock
  python/lance_namespace_urllib3_client/test/test_create_table_response.py
  python/lance_namespace_urllib3_client/test/test_describe_table_response.py
  rust/lance-namespace-reqwest-client/docs/CreateTableResponse.md
  rust/lance-namespace-reqwest-client/docs/DescribeTableResponse.md
  rust/lance-namespace-reqwest-client/src/models/create_table_response.rs
  rust/lance-namespace-reqwest-client/src/models/describe_table_response.rs
Labels: enhancement, python, java, spec, rust

#146 feat: add glue namespace impl spec
  docs/src/spec/impls/glue.md
Labels: enhancement, spec

#151 feat: upgrade to 0.0.3
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/java.yml
  Makefile
  docs/Makefile
  java/Makefile
  java/lance-namespace-adapter/pom.xml
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/ClientToServerResponse.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/ServerToClientRequest.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/TableController.java
  java/lance-namespace-apache-client/README.md
  java/lance-namespace-apache-client/pom.xml
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/ApiClient.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/Configuration.java
  java/lance-namespace-core/pom.xml
  java/lance-namespace-core/run-manual-test.sh
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/ObjectIdentifier.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/rest/RestNamespace.java
  java/lance-namespace-core/src/test/java/com/lancedb/lance/namespace/TestException.java
  java/lance-namespace-core/src/test/java/com/lancedb/lance/namespace/TestObjectIdentifier.java
  java/lance-namespace-glue/pom.xml
  java/lance-namespace-glue/src/test/java/com/lancedb/lance/namespace/glue/TestGlueNamespaceConfig.java
  java/lance-namespace-hive/pom.xml
  java/lance-namespace-lancedb/pom.xml
  java/lance-namespace-springboot-server/pom.xml
  java/openapitools.json
  java/pom.xml
  python/Makefile
  python/lance_namespace_urllib3_client/README.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api_client.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/configuration.py
  rust/Cargo.lock
  rust/Makefile
  rust/lance-namespace-reqwest-client/Cargo.toml
  rust/lance-namespace-reqwest-client/README.md
Labels: enhancement, python, java, rust

#153 ci: fix lancedb test env variable setting
  java/lance-namespace-lancedb/src/test/java/com/lancedb/lance/namespace/lancedb/LanceDbRestNamespaceTestBase.java
Labels: ci, java

#155 chore: run java-lancedb when the module is edited
  .github/workflows/java-lancedb.yml
Labels: chore

#160 ci: fix java publish doc links
  java/pom.xml
Labels: ci, java
