Repository lancedb/lance-namespace, pull requests merged in 2025-04, with the labels that each got.

#3 chore: add GitHub labeler and release configs
  .github/labeler.yml
  .github/release.yml
  .github/workflows/pr-title.yml
  .gitignore
  README.md
Labels: chore

#8 chore: add spec and rust labels
  .github/labeler.yml
Labels: chore

#7 chore: add initial boilerplate and generated client and server
  Makefile
  README.md
  java/.apache-client-ignore
  java/.mvn/wrapper/maven-wrapper.properties
  java/lance-catalog-apache-client/.github/workflows/maven.yml
  java/lance-catalog-apache-client/.gitignore
  java/lance-catalog-apache-client/.openapi-generator-ignore
  java/lance-catalog-apache-client/.openapi-generator/FILES
  java/lance-catalog-apache-client/.openapi-generator/VERSION
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/DefaultApi.md
  java/lance-catalog-apache-client/gradle/wrapper/gradle-wrapper.jar
  java/lance-catalog-apache-client/gradle/wrapper/gradle-wrapper.properties
  java/lance-catalog-apache-client/pom.xml
  java/lance-catalog-apache-client/src/main/AndroidManifest.xml
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ApiClient.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ApiException.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/BaseApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/Configuration.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/JavaTimeFormatter.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/Pair.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/RFC3339DateFormat.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ServerConfiguration.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ServerVariable.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/StringUtil.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/DefaultApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/ApiKeyAuth.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/Authentication.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/HttpBasicAuth.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/HttpBearerAuth.java
  java/lance-catalog-apache-client/src/test/java/com/lancedb/lance/catalog/client/apache/api/DefaultApiTest.java
  java/lance-catalog-springboot-server/.openapi-generator-ignore
  java/lance-catalog-springboot-server/.openapi-generator/FILES
  java/lance-catalog-springboot-server/.openapi-generator/VERSION
  java/lance-catalog-springboot-server/README.md
  java/lance-catalog-springboot-server/pom.xml
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/ApiUtil.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/DefaultApi.java
  java/mvnw
  java/pom.xml
  rust/lance-catalog-reqwest-client/.gitignore
  rust/lance-catalog-reqwest-client/.openapi-generator-ignore
  rust/lance-catalog-reqwest-client/.openapi-generator/FILES
  rust/lance-catalog-reqwest-client/.openapi-generator/VERSION
  rust/lance-catalog-reqwest-client/.travis.yml
  rust/lance-catalog-reqwest-client/Cargo.toml
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/DefaultApi.md
  rust/lance-catalog-reqwest-client/git_push.sh
  rust/lance-catalog-reqwest-client/src/apis/configuration.rs
  rust/lance-catalog-reqwest-client/src/apis/default_api.rs
  rust/lance-catalog-reqwest-client/src/apis/mod.rs
  rust/lance-catalog-reqwest-client/src/lib.rs
  rust/lance-catalog-reqwest-client/src/models/mod.rs
  spec/catalog.yaml
Labels: chore, java, spec, rust

#6 feat: create database
  spec/catalog.yaml
Labels: enhancement, spec

#16 chore: add spotless and checkstyle
  Makefile
  README.md
  java/Makefile
  java/checkstyle.xml
  java/lance-catalog-apache-client/.openapi-generator/FILES
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ApiClient.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ApiException.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/BaseApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/Configuration.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/JavaTimeFormatter.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/Pair.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/RFC3339DateFormat.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ServerConfiguration.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/ServerVariable.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/StringUtil.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/DefaultApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/ApiKeyAuth.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/Authentication.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/HttpBasicAuth.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/auth/HttpBearerAuth.java
  java/lance-catalog-apache-client/src/test/java/com/lancedb/lance/catalog/client/apache/api/DefaultApiTest.java
  java/lance-catalog-springboot-server/.openapi-generator/FILES
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/ApiUtil.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/DefaultApi.java
  java/pom.xml
  rust/Makefile
  rust/lance-catalog-reqwest-client/.openapi-generator/FILES
  rust/lance-catalog-reqwest-client/Cargo.toml
  rust/lance-catalog-reqwest-client/README.md
Labels: chore, java, rust

#19 ci: add Java and Rust CI
  .github/workflows/java.yml
  .github/workflows/rust.yml
  java/checkstyle-suppressions.xml
  java/pom.xml
  rust/Cargo.lock
  rust/Cargo.toml
Labels: chore, ci, java, rust

#20 ci: fix toolchain value in Java and Rust CI
  .github/workflows/java.yml
  .github/workflows/rust.yml
Labels: ci

#23 fix: fix wrong required property name
  java/lance-catalog-apache-client/docs/CreateNamespaceResponse.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/model/CreateNamespaceResponse.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/model/CreateNamespaceResponse.java
  spec/catalog.yaml
Labels: bug, java, spec

#30 chore: readd api folder and cleanup the dummy ping API
  java/.apache-client-ignore
  java/lance-catalog-apache-client/.openapi-generator/FILES
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/DefaultApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/NamespaceApi.java
  java/lance-catalog-springboot-server/.openapi-generator/FILES
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/DefaultApi.java
  rust/lance-catalog-reqwest-client/.openapi-generator/FILES
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/CreateNamespaceRequest.md
  rust/lance-catalog-reqwest-client/docs/CreateNamespaceResponse.md
  rust/lance-catalog-reqwest-client/docs/DefaultApi.md
  rust/lance-catalog-reqwest-client/docs/ErrorModel.md
  rust/lance-catalog-reqwest-client/docs/NamespaceApi.md
  rust/lance-catalog-reqwest-client/src/apis/default_api.rs
  rust/lance-catalog-reqwest-client/src/apis/mod.rs
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  rust/lance-catalog-reqwest-client/src/models/create_namespace_request.rs
  rust/lance-catalog-reqwest-client/src/models/create_namespace_response.rs
  rust/lance-catalog-reqwest-client/src/models/error_model.rs
  rust/lance-catalog-reqwest-client/src/models/mod.rs
  spec/catalog.yaml
Labels: chore, java, spec, rust

#31 ci: add CI to make sure codegen is always consistent with spec change
  .github/workflows/spec.yml
  .gitignore
  README.md
  java/Makefile
  requirements.txt
  rust/Makefile
Labels: ci, java, rust

#29 spec: list namespaces
  java/lance-catalog-apache-client/.openapi-generator/FILES
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/ListNamespacesResponse.md
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/NamespaceApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/model/ListNamespacesResponse.java
  java/lance-catalog-springboot-server/.openapi-generator/FILES
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/model/ListNamespacesResponse.java
  rust/Makefile
  rust/lance-catalog-reqwest-client/.openapi-generator/FILES
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/ListNamespacesResponse.md
  rust/lance-catalog-reqwest-client/docs/NamespaceApi.md
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  rust/lance-catalog-reqwest-client/src/models/list_namespaces_response.rs
  rust/lance-catalog-reqwest-client/src/models/mod.rs
  spec/catalog.yaml
Labels: enhancement, java, spec, rust

#40 spec: delete namespace
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/NamespaceApi.md
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  spec/catalog.yaml
Labels: enhancement, java, spec, rust

#35 fix: fix operationId for listing namespace
  java/lance-catalog-apache-client/api/openapi.yaml
  spec/catalog.yaml
Labels: bug, java, spec

#38 spec: namespace exists
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/NamespaceApi.md
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  spec/catalog.yaml
Labels: enhancement, java, spec, rust

#43 spec: add 401 unauthorized error
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  spec/catalog.yaml
Labels: enhancement, java, spec, rust

#46 codegen: add Python urllib3 client
  .github/workflows/python.yml
  .github/workflows/spec.yml
  README.md
  python/Makefile
  python/lance_catalog_urllib3_client/.openapi-generator-ignore
  python/lance_catalog_urllib3_client/.openapi-generator/FILES
  python/lance_catalog_urllib3_client/.openapi-generator/VERSION
  python/lance_catalog_urllib3_client/README.md
  python/lance_catalog_urllib3_client/docs/CreateNamespaceRequest.md
  python/lance_catalog_urllib3_client/docs/CreateNamespaceResponse.md
  python/lance_catalog_urllib3_client/docs/ErrorModel.md
  python/lance_catalog_urllib3_client/docs/GetNamespaceResponse.md
  python/lance_catalog_urllib3_client/docs/ListNamespacesResponse.md
  python/lance_catalog_urllib3_client/docs/NamespaceApi.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/__init__.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/__init__.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/namespace_api.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api_client.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api_response.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/configuration.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/exceptions.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/__init__.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/create_namespace_request.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/create_namespace_response.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/error_model.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/get_namespace_response.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/list_namespaces_response.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/py.typed
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/rest.py
  python/lance_catalog_urllib3_client/poetry.lock
  python/lance_catalog_urllib3_client/pyproject.toml
  python/lance_catalog_urllib3_client/test/__init__.py
  python/lance_catalog_urllib3_client/test/test_create_namespace_request.py
  python/lance_catalog_urllib3_client/test/test_create_namespace_response.py
  python/lance_catalog_urllib3_client/test/test_error_model.py
  python/lance_catalog_urllib3_client/test/test_get_namespace_response.py
  python/lance_catalog_urllib3_client/test/test_list_namespaces_response.py
  python/lance_catalog_urllib3_client/test/test_namespace_api.py
  python/requirements.txt
Labels: python

#44 spec: add pagination support
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/ListNamespacesResponse.md
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/NamespaceApi.java
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/model/ListNamespacesResponse.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/model/ListNamespacesResponse.java
  python/lance_catalog_urllib3_client/docs/ListNamespacesResponse.md
  python/lance_catalog_urllib3_client/docs/NamespaceApi.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/namespace_api.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/list_namespaces_response.py
  rust/lance-catalog-reqwest-client/docs/ListNamespacesResponse.md
  rust/lance-catalog-reqwest-client/docs/NamespaceApi.md
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  rust/lance-catalog-reqwest-client/src/models/list_namespaces_response.rs
  spec/catalog.yaml
Labels: enhancement, python, java, spec, rust

#42 spec: get table under namespace
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/TableApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/TableApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/TableApi.java
  python/lance_catalog_urllib3_client/README.md
  python/lance_catalog_urllib3_client/docs/TableApi.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/table_api.py
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/TableApi.md
  rust/lance-catalog-reqwest-client/src/apis/table_api.rs
  spec/catalog.yaml
Labels: enhancement, python, java, spec, rust

#51 spec: add 409 conflcit error for create and update operations
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/NamespaceApi.md
  java/lance-catalog-apache-client/docs/TableApi.md
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/TableApi.java
  python/lance_catalog_urllib3_client/docs/NamespaceApi.md
  python/lance_catalog_urllib3_client/docs/TableApi.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/namespace_api.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/table_api.py
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  rust/lance-catalog-reqwest-client/src/apis/table_api.rs
  spec/catalog.yaml
Labels: enhancement, python, java, spec, rust

#54 spec: update names for error responses to be consistent
  java/lance-catalog-apache-client/.openapi-generator/FILES
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/ErrorResponse.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/model/ErrorResponse.java
  java/lance-catalog-springboot-server/.openapi-generator/FILES
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/NamespaceApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/TableApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/model/ErrorResponse.java
  python/lance_catalog_urllib3_client/.openapi-generator/FILES
  python/lance_catalog_urllib3_client/README.md
  python/lance_catalog_urllib3_client/docs/ErrorResponse.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/__init__.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/namespace_api.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/table_api.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/__init__.py
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/models/error_response.py
  python/lance_catalog_urllib3_client/test/test_error_response.py
  rust/lance-catalog-reqwest-client/.openapi-generator/FILES
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/ErrorResponse.md
  rust/lance-catalog-reqwest-client/src/apis/namespace_api.rs
  rust/lance-catalog-reqwest-client/src/apis/table_api.rs
  rust/lance-catalog-reqwest-client/src/models/error_response.rs
  rust/lance-catalog-reqwest-client/src/models/mod.rs
  spec/catalog.yaml
Labels: enhancement, chore, python, java, spec, rust

#52 spec: check table exists under ns
  java/lance-catalog-apache-client/README.md
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-apache-client/docs/TableApi.md
  java/lance-catalog-apache-client/src/main/java/com/lancedb/lance/catalog/client/apache/api/TableApi.java
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/TableApi.java
  python/lance_catalog_urllib3_client/README.md
  python/lance_catalog_urllib3_client/docs/TableApi.md
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/table_api.py
  rust/lance-catalog-reqwest-client/README.md
  rust/lance-catalog-reqwest-client/docs/TableApi.md
  rust/lance-catalog-reqwest-client/src/apis/table_api.rs
  spec/catalog.yaml
Labels: enhancement, python, java, spec, rust

#57 chore: fix rebase between error model and table exists API
  java/lance-catalog-apache-client/api/openapi.yaml
  java/lance-catalog-springboot-server/src/main/java/com/lancedb/lance/catalog/server/springboot/api/TableApi.java
  python/lance_catalog_urllib3_client/lance_catalog_urllib3_client/api/table_api.py
  rust/lance-catalog-reqwest-client/src/apis/table_api.rs
  spec/catalog.yaml
Labels: chore, python, java, spec, rust

#61 chore: make the openapi generator CLI version fixed
  .github/workflows/spec.yml
  python/Makefile
  python/requirements.txt
  requirements.txt
  rust/Cargo.lock
Labels: chore, python, rust
