Repository lancedb/lance-namespace, pull requests merged in 2025-08, with the labels that each got.

#161 feat: add register table mode and python publish
  .github/workflows/python-publish.yml
  docs/src/spec/operations/alter-transaction.md
  docs/src/spec/operations/count-table-rows.md
  docs/src/spec/operations/create-table-index.md
  docs/src/spec/operations/create-table.md
  docs/src/spec/operations/delete-from-table.md
  docs/src/spec/operations/deregister-table.md
  docs/src/spec/operations/describe-table-index-stats.md
  docs/src/spec/operations/describe-table.md
  docs/src/spec/operations/describe-transaction.md
  docs/src/spec/operations/drop-table.md
  docs/src/spec/operations/index.md
  docs/src/spec/operations/insert-into-table.md
  docs/src/spec/operations/list-table-indices.md
  docs/src/spec/operations/list-tables.md
  docs/src/spec/operations/merge-insert-into-table.md
  docs/src/spec/operations/query-table.md
  docs/src/spec/operations/register-table.md
  docs/src/spec/operations/table-exists.md
  docs/src/spec/operations/update-table.md
  docs/src/spec/rest.yaml
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/ServerToClientRequest.java
  java/lance-namespace-apache-client/api/openapi.yaml
  java/lance-namespace-apache-client/docs/CreateNamespaceRequest.md
  java/lance-namespace-apache-client/docs/RegisterTableRequest.md
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/model/CreateNamespaceRequest.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/model/RegisterTableRequest.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/CreateNamespaceRequest.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/RegisterTableRequest.java
  python/lance_namespace/pyproject.toml
  python/lance_namespace_urllib3_client/docs/CreateNamespaceRequest.md
  python/lance_namespace_urllib3_client/docs/RegisterTableRequest.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/create_namespace_request.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/register_table_request.py
  python/lance_namespace_urllib3_client/test/test_register_table_request.py
  rust/lance-namespace-reqwest-client/docs/CreateNamespaceRequest.md
  rust/lance-namespace-reqwest-client/docs/RegisterTableRequest.md
  rust/lance-namespace-reqwest-client/src/models/create_namespace_request.rs
  rust/lance-namespace-reqwest-client/src/models/register_table_request.rs
  uv.lock
Labels: enhancement, python, java, spec, rust

#186 ci: upgrade maven publish plugin
  java/pom.xml
Labels: ci, java

#195 ci: fix default root for publish
  .github/workflows/python-publish.yml
Labels: ci

#206 feat: upgrade to 0.0.7
  README.md
  python/Makefile
  python/lance_namespace/README.md
  python/lance_namespace/pyproject.toml
  python/lance_namespace/src/lance_namespace/glue.py
  python/lance_namespace/src/lance_namespace/hive.py
  python/lance_namespace/tests/test_glue.py
  python/lance_namespace/tests/test_hive.py
  python/lance_namespace_urllib3_client/README.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api_client.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/configuration.py
  python/lance_namespace_urllib3_client/pyproject.toml
  python/pyproject.urllib3_client.toml
  rust/Cargo.lock
  rust/Makefile
  rust/lance-namespace-reqwest-client/Cargo.toml
  rust/lance-namespace-reqwest-client/README.md
  uv.lock
Labels: enhancement, python, rust

#209 chore: move CONTRIBUTING.md to root level and update documentation links
  CONTRIBUTING.md
  README.md
  docs/src/.pages
Labels: chore

#212 fix: export new model for create_empty_table
  python/lance_namespace/src/lance_namespace/__init__.py
Labels: bug, python

#213 feat: more flexible override for Java REST client
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/rest/RestNamespace.java
Labels: enhancement, java

#216 feat: bump version to 0.0.10
  java/Makefile
  java/lance-namespace-adapter/pom.xml
  java/lance-namespace-apache-client/README.md
  java/lance-namespace-apache-client/pom.xml
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/ApiClient.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/Configuration.java
  java/lance-namespace-core/pom.xml
  java/lance-namespace-glue/pom.xml
  java/lance-namespace-hive2/pom.xml
  java/lance-namespace-hive3/pom.xml
  java/lance-namespace-lancedb/pom.xml
  java/lance-namespace-springboot-server/pom.xml
  java/lance-namespace-unity/pom.xml
  java/pom.xml
  java/springboot-server-pom.xml
  python/Makefile
  python/lance_namespace/pyproject.toml
  python/lance_namespace_urllib3_client/README.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api_client.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/configuration.py
  python/lance_namespace_urllib3_client/pyproject.toml
  python/pyproject.urllib3_client.toml
  rust/Cargo.lock
  rust/Makefile
  rust/lance-namespace-reqwest-client/Cargo.toml
  rust/lance-namespace-reqwest-client/README.md
  uv.lock
Labels: enhancement, python, java, rust

#218 ci: use gen instead of make for release codegen
  .github/workflows/release.yml
Labels: ci

#220 ci: reorder release codegen steps
  .bumpversion.toml
  .github/workflows/release.yml
  pyproject.toml
  uv.lock
Labels: ci

#222 ci: fix release note generate import
  ci/generate_release_notes.py
Labels: ci
