Repository lancedb/lance-namespace, pull requests merged in 2025-05, with the labels that each got.

#69 feat: add Java client and server framework
  java/lance-namespace-adapter/pom.xml
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/ClientToServerResponse.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/LanceNamespaceAdapter.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/NamespaceController.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/ServerToClientRequest.java
  java/lance-namespace-adapter/src/main/java/com/lancedb/lance/namespace/adapter/TableController.java
  java/lance-namespace-apache-client/.openapi-generator/FILES
  java/lance-namespace-apache-client/README.md
  java/lance-namespace-apache-client/api/openapi.yaml
  java/lance-namespace-apache-client/docs/NamespaceApi.md
  java/lance-namespace-apache-client/docs/NamespaceExistsResponse.md
  java/lance-namespace-apache-client/docs/TableApi.md
  java/lance-namespace-apache-client/docs/TableExistsResponse.md
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/api/NamespaceApi.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/api/TableApi.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/model/NamespaceExistsResponse.java
  java/lance-namespace-apache-client/src/main/java/com/lancedb/lance/namespace/client/apache/model/TableExistsResponse.java
  java/lance-namespace-core/pom.xml
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/client/LanceNamespace.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/client/LanceNamespaceException.java
  java/lance-namespace-core/src/main/java/com/lancedb/lance/namespace/client/LanceRestNamespace.java
  java/lance-namespace-springboot-server/.openapi-generator/FILES
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/api/NamespaceApi.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/api/TableApi.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/NamespaceExistsResponse.java
  java/lance-namespace-springboot-server/src/main/java/com/lancedb/lance/namespace/server/springboot/model/TableExistsResponse.java
  java/pom.xml
  python/lance_namespace_urllib3_client/.openapi-generator/FILES
  python/lance_namespace_urllib3_client/README.md
  python/lance_namespace_urllib3_client/docs/NamespaceApi.md
  python/lance_namespace_urllib3_client/docs/NamespaceExistsResponse.md
  python/lance_namespace_urllib3_client/docs/TableApi.md
  python/lance_namespace_urllib3_client/docs/TableExistsResponse.md
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api/namespace_api.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/api/table_api.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/__init__.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/namespace_exists_response.py
  python/lance_namespace_urllib3_client/lance_namespace_urllib3_client/models/table_exists_response.py
  python/lance_namespace_urllib3_client/test/test_namespace_exists_response.py
  python/lance_namespace_urllib3_client/test/test_table_exists_response.py
  rust/lance-namespace-reqwest-client/.openapi-generator/FILES
  rust/lance-namespace-reqwest-client/README.md
  rust/lance-namespace-reqwest-client/docs/NamespaceApi.md
  rust/lance-namespace-reqwest-client/docs/NamespaceExistsResponse.md
  rust/lance-namespace-reqwest-client/docs/TableApi.md
  rust/lance-namespace-reqwest-client/docs/TableExistsResponse.md
  rust/lance-namespace-reqwest-client/src/apis/namespace_api.rs
  rust/lance-namespace-reqwest-client/src/apis/table_api.rs
  rust/lance-namespace-reqwest-client/src/models/mod.rs
  rust/lance-namespace-reqwest-client/src/models/namespace_exists_response.rs
  rust/lance-namespace-reqwest-client/src/models/table_exists_response.rs
  spec/rest.yaml
Labels: enhancement, python, java, spec, rust

#75 spec: move Lance namespace implementations to subfolder
  spec/impls/dir.md
  spec/impls/hive.md
  spec/impls/rest.md
  spec/spec.md
Labels: enhancement, spec

#81 chore: clean up unused java codegen files
  java/Makefile
  java/lance-namespace-apache-client/.openapi-generator-ignore
  java/lance-namespace-apache-client/.openapi-generator/FILES
  java/lance-namespace-apache-client/.openapi-generator/VERSION
  java/lance-namespace-springboot-server/.openapi-generator-ignore
  java/lance-namespace-springboot-server/.openapi-generator/FILES
  java/lance-namespace-springboot-server/.openapi-generator/VERSION
Labels: chore, java

#83 chore: add support for OpenAPI spec validation
  Makefile
  README.md
  requirements.txt
Labels: chore
